<%- include('./partials/header.ejs') %>

<h1>Favorite Recipes</h1>
<% if (favorites.length === 0) { %>
  <p>No recipes added to favorites yet.</p>
<% } else { %>
  <ul>
    <% favorites.forEach(favorite => { %>
      <li>
        <h2><%= favorite.title %></h2>
        <p>Source URL: <a href="<%= favorite.source_url %>" target="_blank"><%= favorite.source_url %></a></p>
        <img src="<%= favorite.image_url %>" alt="<%= favorite.title %>">

        <!-- Display Note or Note Form based on existence of note -->
        <% if (favorite.note) { %>
          <span>Note:</span>
          <p id="note<%= favorite.id %>"><%= favorite.note %></p>
          <form action="/favorites/<%= favorite.id %>/note" method="POST">
            <textarea name="note" placeholder="Edit note..."><%= favorite.note %></textarea>
            <button type="submit">Save Note</button>
          </form>
        <% } else { %>
          <form action="/favorites/<%= favorite.id %>/note" method="POST">
            <textarea name="note" placeholder="Add a note..."></textarea>
            <button type="submit">Add Note</button>
          </form>
        <% } %>

        <form action="/favorites/<%= favorite.id %>" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit">Remove from Favorites</button>
        </form>
      </li>
    <% }); %>
  </ul>
<% } %>

<%- include('./partials/footer.ejs') %>
