<%- include('./partials/header.ejs') %>

<h1>Recipes</h1>
<ul>
  <% recipes.forEach(recipe => { %>
  <li>
    <h2><%= recipe.title %></h2>
    <p>Preparation time: <%= recipe.readyInMinutes %> minutes</p>
    <p>Servings: <%= recipe.servings %></p>
    <p><a href="<%= recipe.sourceUrl %>" target="_blank">View Recipe</a></p>
    <form action="/favorites/add" method="POST">
      <input type="hidden" name="recipeId" value="<%= recipe.id %>" />
      <input type="hidden" name="title" value="<%= recipe.title %>" />
      <input type="hidden" name="sourceUrl" value="<%= recipe.sourceUrl %>" />
      <button type="submit">Add to Favorites</button>
    </form>
  </li>
  <% }); %>
</ul>
<%- include('./partials/footer.ejs') %>
